.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.duration-1000 {
    transition-duration: 1000ms;
}

.my-rotate-y-180 {
    transform: rotateY(180deg);
}

.backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}