.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.duration-1000 {
    transition-duration: 700ms;
}

.my-rotate-y-180 {
    transform: rotateY(180deg);
}

.backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.transform {
    transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.group:hover .group-hover\:my-translate-2 {
    --translate-y: 0.5rem;
  }

  .flip {
    --rotate-y: 180deg;
  }

  img {
    opacity: 0.4;
  }
